# Конфигурационный файл NikGapps

# Если вы не уверены в конфигурации, просто не вносите в нее изменения или прокомментируйте ее, добавив перед ней #.
# посещать https://nikgapps.com/misc/2022/02/22/NikGapps-Config.html прочитать все о никгаппс

AndroidVersion=14

Version=34

# установите здесь каталог, в который вы хотите скопировать журналы.
# например, LogDirectory="/system/etc" установит журналы в каталог /system/etc/nikgaps_logs.
# по умолчанию он установится в /sdcard/NikGapps/nikgapps_logs
LogDirectory=default

# установите значение /system, /product или /system_ext, если вы хотите принудительно выполнить установку в вышеупомянутые места.
InstallPartition=default

# установите значение удаления, если вы хотите удалить какое-либо приложение Google, также установите значение приложения Google ниже -1
Mode=install

# установите WipeDalvikCache=0, если вы не хотите, чтобы установщик стирал dalvik/cache после установки GAPPS
WipeDalvikCache=1

# установите WipeRuntimePermissions=1, если вы хотите стереть разрешения во время выполнения
WipeRuntimePermissions=0

# Конфигурация Addon.d, установите значение 0, чтобы пропустить автоматическое резервное копирование/восстановление во время прошивки прошивки.
ExecuteBackupRestore=1

# если вы хотите заставить установщик использовать конфигурацию из zip-файла GAPPS, установите ниже значение 1
UseZipConfig=0

# если вы хотите перезаписать конфигурацию, расположенную в /sdcard/NikGapps, с помощью zip-файла GAPPS, установите ниже значение 1. Применимо только к расшифрованному хранилищу.
OverwriteWithZipConfig=0

# установите для этого параметра значение 1, если вы хотите включить оптимизацию GMS.
# Будьте осторожны при этом, у вас могут возникнуть проблемы, такие как задержка уведомления с некоторыми ромами.
GmsOptimization=0

# установите для этого параметра значение 0, если вы хотите пропустить создание журналов nikgapps. Если у вас возникнут проблемы, включите его и снова прошейте zip-архив, чтобы получить журналы.
GenerateLogs=1

# Ниже приведены пакеты с конфигурацией по умолчанию.

# Установите Core=0, если вы хотите пропустить установку всех пакетов, принадлежащих базовому пакету.
Core=1
>>ExtraFiles=1
>>GooglePlayStore=1
>>GoogleServicesFramework=1
>>GoogleContactsSyncAdapter=1
>>GoogleCalendarSyncAdapter=1
>>GmsCore=1

DigitalWellbeing=0
GoogleMessages=1
GoogleDialer=1
GoogleContacts=1
CarrierServices=1
GoogleClock=1

# Установите SetupWizard=0, если вы хотите пропустить установку всех пакетов, принадлежащих пакету SetupWizard.
SetupWizard=1
>>SetupWizard=1
>>GoogleRestore=1
>>GoogleOneTimeInitializer=1

GoogleCalculator=1
Drive=1
GoogleMaps=1
GoogleLocationHistory=1
GooglePhotos=1
DeviceHealthServices=1
GBoard=1
GoogleCalendar=1
GoogleKeep=1
PlayGames=0

# Установите PixelSpecifics=0, если вы хотите пропустить установку всех пакетов, принадлежащих пакету PixelSpecifics.
PixelSpecifics=1
>>PixelLauncher=0
>>DevicePersonalizationServices=1
>>QuickAccessWallet=0
>>GoogleWallpaper=1
>>SettingsServices=1
>>PrivateComputeServices=1
>>PixelThemes=1
>>EmojiWallpaper=0
>>PixelWeather=1

GoogleRecorder=0

# Установите GoogleFiles=0, если вы хотите пропустить установку всех пакетов, принадлежащих пакету GoogleFiles.
GoogleFiles=0
>>GoogleFiles=1
>>StorageManager=1
>>DocumentsUIGoogle=1

MarkupGoogle=1
GoogleTTS=1

# Установите GoogleSearch=0, если вы хотите пропустить установку всех пакетов, принадлежащих пакету GoogleSearch.
GoogleSearch=1
>>Velvet=1
>>Assistant=1

GoogleSounds=1

# Установите GoogleChrome=0, если вы хотите пропустить установку всех пакетов, принадлежащих пакету GoogleChrome.
GoogleChrome=1
>>GoogleChrome=1
>>WebViewGoogle=1
>>TrichromeLibrary=1

Gmail=1
DeviceSetup=1
AndroidAuto=1
GoogleFeedback=1
GooglePartnerSetup=1
AndroidDevicePolicy=1

# Установите CoreGo=0, если вы хотите пропустить установку всех пакетов, принадлежащих пакету CoreGo.
CoreGo=0

# Установка CoreGo=0 не будет пропускать следующие пакеты. Установите для них значение 0, если вы хотите их пропустить. 
GoogleGo=0
AssistantGo=0
MapsGo=0
NavigationGo=0
GalleryGo=0
GmailGo=0

# Ниже приведены пакеты дополнений, которые поддерживает NikGapps.
GoogleFi=0
GoogleDuo=0
GoogleDocs=1
GoogleSlides=0
GoogleSheets=1
YouTube=0
YouTubeMusic=0
Books=0
PixelSetupWizard=1
GoogleTalkback=1

# Здесь начинается деблоатер NikGapps, добавьте все необходимое в debloater.config ниже (только для элитных и пользовательских сборок), посмотрите примеры ниже
# YouTube
# /system/app/YouTube
/system/product/priv-app/Contacts
/system/product/priv-app/Dialer
/system/product/priv-app/Eleven
/system/product/app/DeskClock
/system/product/app/Etar
/system/product/app/ExactCalculator
/system/product/app/Glimpse
/system/product/app/Jelly
/system/product/app/LatinIME
/system/product/app/messaging
/system/product/app/Recorder










